<form #usersignup="ngForm" class="example-form">
  <div>
    <p class="text">
      New to onground? A kickstarter account is required to continue
    </p>
    <mat-form-field class="Input" floatLabel="never" appearance="none">
      <div class="outerDiv effect-11">
        <input
          matInput
          placeholder="Username"
          [formControl]="usernameFormControl"
          class="formInput"
          [errorStateMatcher]="matcher"
        />
      </div>
      <!-- <mat-hint>Enter email or username</mat-hint> -->
      <mat-error *ngIf="usernameFormControl.hasError('usernameExists')">
        username already exists
      </mat-error>
      <mat-error
        *ngIf="
          usernameFormControl.hasError('forbiddenName') &&
          !usernameFormControl.hasError('usernameExists')
        "
      >
        username should not contain special characters
      </mat-error>
      <mat-error
        *ngIf="
          usernameFormControl.hasError('minlength') &&
          !usernameFormControl.hasError('forbiddenName') &&
          !usernameFormControl.hasError('usernameExists')
        "
      >
        username is too short
      </mat-error>
      <mat-error
        *ngIf="
          usernameFormControl.hasError('notLower') &&
          !usernameFormControl.hasError('minlength') &&
          !usernameFormControl.hasError('forbiddenName') &&
          !usernameFormControl.hasError('usernameExists')
        "
      >
        username should be in <strong>Lower case</strong>
      </mat-error>
      <mat-error
        *ngIf="
          usernameFormControl.hasError('required') &&
          !usernameFormControl.hasError('minlength') &&
          !usernameFormControl.hasError('forbiddenName') &&
          !usernameFormControl.hasError('usernameExists') &&
          !usernameFormControl.hasError('notLower')
        "
      >
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="Input" floatLabel="never" appearance="none">
      <div class="outerDiv effect-11">
        <input
          matInput
          placeholder="Email"
          [formControl]="emailFormControl"
          class="formInput"
          [errorStateMatcher]="matcher"
        />
      </div>
      <!-- <mat-hint>Enter email or username</mat-hint> -->
      <mat-error *ngIf="emailFormControl.hasError('emailExists')">
        email already exists
      </mat-error>
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required') &&
          !emailFormControl.hasError('emailExists')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="
          emailFormControl.hasError('required') &&
          !emailFormControl.hasError('email') &&
          !emailFormControl.hasError('emailExists')
        "
      >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="Input" floatLabel="never" appearance="none">
      <div class="outerDiv effect-11">
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          class="formInput"
          [formControl]="passwordFormControl"
          [errorStateMatcher]="matcher"
        />
      </div>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        Password should contain atleast 8 characters
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="Input" floatLabel="never" appearance="none">
      <div class="outerDiv effect-11">
        <input
          matInput
          placeholder="re-enter password"
          [type]="hide ? 'password' : 'text'"
          class="formInput"
          [formControl]="repasswordFormControl"
          [errorStateMatcher]="matcher"
        />
      </div>
      <mat-error *ngIf="repasswordFormControl.hasError('different')">
        Password not <strong>same</strong>
      </mat-error>
      <mat-error
        *ngIf="
          repasswordFormControl.hasError('required') &&
          !repasswordFormControl.hasError('different')
        "
      >
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="Input" floatLabel="never" appearance="none">
      <div class="outerDiv effect-11">
        <input
          matInput
          placeholder="Mobile number"
          type="text"
          class="formInput"
          [formControl]="mobileFormControl"
          [errorStateMatcher]="matcher"
        />
      </div>
      <mat-error *ngIf="mobileFormControl.hasError('notValid')">
        Enter valid mobile number
      </mat-error>
      <mat-error
        *ngIf="
          mobileFormControl.hasError('required') &&
          !mobileFormControl.hasError('notValid')
        "
      >
        Mobile number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <p class="text">
    By signing up, you agree to our terms of use and privacy policy
  </p>
  <button
    class="submitButton"
    (click)="onsubmit()"
    [disabled]="!allValid()"
    [ngClass]="{'disable': !allValid(), 'bounce': allValid()}"
  >
    sign up
  </button>
</form>
